<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="storeMapper">

    <!-- 점주 존재 여부 확인 -->
    <select id="checkOwner"
            parameterType="string"
            resultType="int">

        SELECT COUNT(*)
        FROM MANAGER
        WHERE MANAGER_ID = #{ownerId}

    </select>

    <!-- 점포 등록 -->
    <insert id="insertStore"
            parameterType="com.kh.burgerstack.store.Store">

        <selectKey keyProperty="storeNo"
                   resultType="int"
                   order="BEFORE">

            SELECT SEQ_STORE_NO.NEXTVAL
            FROM DUAL

        </selectKey>

        INSERT INTO STORE
        (
            STORE_NO,
            STORE_NAME,
            OWNER_ID,
            STORE_PHONE,
            STORE_ADDRESS
        )
        VALUES
        (
            #{storeNo},
            #{storeName},
            #{ownerId},
            #{storePhone},
            #{storeAddress}
        )

    </insert>

    <!-- 전체 자재 기준 점포 재고 생성 -->
    <insert id="insertStoreStockMaterial"
            parameterType="int">

        INSERT INTO STORE_STOCK
        (
            STORE_NO,
            MATERIAL_NO,
            STOCK_QTY
        )

        SELECT
            #{storeNo},
            MATERIAL_NO,
            0
        FROM MATERIAL

    </insert>

    <!-- 관리자 점포 목록 조회 -->
    <select id="selectStoreList"
            parameterType = "map"
            resultType="com.kh.burgerstack.store.StoreListRow">

    SELECT
    	STORE_CODE AS storeCode,
    	STORE_NAME AS storeName,
    	STORE_ADDRESS AS storeAddress,
    	STORE_PHONE AS storePhone,
    	STORE_STATUS AS storeStatus,
    	TO_CHAR(OPEN_DATE, 'YYYY.MM.DD') AS openDate <!-- 날짜 데이터를 문자열 형태로 변환 -->

    FROM STORE

    WHERE 1 = 1 <!-- 조건을 뒤에 편하게 붙이기 위한 기본 조건 -->

    <!-- 상태 검색 -->
    <if test="status != null and status != ''"> <!-- status의 값이 존재할 때만 아래 SQL 실행 -->
    	AND STORE_STATUS = #{status}
    </if>

    <!-- 시작 날짜 -->
    <if test="startDate != null and startDate != ''">
    	AND OPEN_DATE <![CDATA[ >= ]]>
        TO_DATE(#{startDate}, 'YYYY-MM-DD')
    </if>

    <!-- 종료 날짜 -->
    <if test="endDate != null and endDate != ''">
    	AND OPEN_DATE <![CDATA[ <= ]]>
        TO_DATE(#{endDate}, 'YYYY-MM-DD')
    </if>

    <!-- 검색어 -->
    <if test="keyword != null and keyword != ''">
        AND (
            STORE_NAME LIKE '%' || #{keyword} || '%'
            OR STORE_ADDRESS LIKE '%' || #{keyword} || '%'
            OR STORE_PHONE LIKE '%' || #{keyword} || '%'
        )
	</if>
        ORDER BY STORE_CODE DESC
    </select>

    <select id="selectStoreCount"
            parameterType="map"
            resultType="int">

    SELECT COUNT(*)

    FROM STORE

    WHERE 1 = 1 <!-- 조건을 뒤에 편하게 붙이기 위한 기본 조건 -->

    <!-- 상태 검색 -->
    <if test="status != null and status != ''"> <!-- status의 값이 존재할 때만 아래 SQL 실행 -->
    	AND STORE_STATUS = #{status}
    </if>

    <!-- 시작 날짜 -->
    <if test="startDate != null and startDate != ''"> <!-- status의 값이 존재할 때만 아래 SQL 실행 -->
    	AND OPEN_DATE <![CDATA[ >= ]]>
        TO_DATE(#{startDate}, 'YYYY-MM-DD')
    </if>

    <!-- 종료 날짜 -->
    <if test="endDate != null and endDate != ''"> <!-- status의 값이 존재할 때만 아래 SQL 실행 -->
    	AND OPEN_DATE <![CDATA[ <= ]]>
        TO_DATE(#{endDate}, 'YYYY-MM-DD')
    </if>

    <!-- 검색어 -->
    <if test="keyword != null and keyword != ''">
        AND (
            STORE_NAME LIKE '%' || #{keyword} || '%'
            OR STORE_ADDRESS LIKE '%' || #{keyword} || '%'
            OR STORE_PHONE LIKE '%' || #{keyword} || '%'
        )
    </if>
    </select>





	<select id="selectStoreDetail"
        parameterType="int"
        resultType="com.kh.burgerstack.store.Store">

    SELECT
        STORE_CODE AS storeCode,
        STORE_NAME AS storeName,
        STORE_STATUS AS storeStatus,
        STORE_PHONE AS storePhone,
        STORE_ADDRESS AS storeAddress,
        STORE_DETAIL_ADDRESS AS storeDetailAddress
    FROM BURGERSTACK.STORE
    WHERE STORE_CODE = #{storeCode}

	</select>

	<select id="selectStoreManager"
        parameterType="int"
        resultType="com.kh.burgerstack.store.StoreManagerView">

	    SELECT
	        M.MANAGER_ID AS managerId,
	        M.MANAGER_NAME AS managerName,
	        M.MANAGER_PHONE AS managerPhone,
	        M.MANAGER_EMAIL AS managerEmail
	    FROM BURGERSTACK.MANAGER M
	    JOIN BURGERSTACK.STORE S
	    ON M.MANAGER_ID = S.MANAGER_ID
	    WHERE S.STORE_CODE = #{storeCode}

	</select>



	<update id="updateStore"
			parameterType="com.kh.burgerstack.store.Store">

			UPDATE STORE
			SET
				STORE_NAME = #{storeName},
				STORE_STATUS = #{storeStatus},
				STORE_PHONE = #{storePhone},
				STORE_ADDRESS = #{storeAddress},
				STORE_DETAIL_ADDRESS = #{storeDetailAddress}
			WHERE STORE_CODE = #{storeCode}

	</update>

	<update id="deleteStore"
			parameterType="int">

			UPDATE STORE
			SET STORE_STATUS = 'N'
			WHERE STORE_CODE = #{storeCode}


	</update>
</mapper>
